/*styling til enme bokse*/
.posts {
    display: flex;
    margin-top: 4%;
    box-shadow: 0px 0px 57px -8px rgba(0,0,0,1);
}

/*styling af text i enmebokse*/
.posts a {
    display: flex;
    flex: 1;
    text-decoration: none;
}

.posts h3 {
    color: rgb(211, 211, 211);
    margin-top: 450px;  
    padding-top: 8px;
    font-size: 36px;
    text-decoration: none;
    font-family: bebas-neue;
    font-weight: 100; 
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
 
}

.boxstyle {
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform .1s;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.boxstyle:hover {
    transform: scale(1.1);
    text-decoration: underline rgb(211, 211, 211);
    
    box-shadow: 0px 0px 57px -6px rgba(0,0,0,1);
   
}

.box1 {
    background-image: url(../img/coding.jpg);
}

.box2 {
    background-image: url(../img/coins_test.png);   
}

.box3 {
    background-image: url(../img/canon.jpg);
}

.box4 {
    background-image: url(../img/photoediting2.png);
}

.box5 {
    background-image: url(../img/code_test.png); 
}


@media only screen and (max-width: 501px) {

/*styling til enme bokse*/

.boxstyle {
    background-position: center;
}
.posts {
    display: block;
    width: 90%;
    margin-left: 4%;
    padding: 0;
}

/*styling af text i enmebokse*/
.posts a {
    display: block;
    margin: 0;
    padding: 0;
    align-items: stretch;
    flex-wrap: wrap;
    text-decoration: none;
}

.posts h3 {
    align-items: center;
    color: rgb(211, 211, 211);
    margin: 0;
    padding: 0;
    font-size: 36px;
    text-decoration: none;
    font-family: bebas-neue;
    font-weight: 100;  
}

.boxstyle:hover {
    transform: scale(1.0);
    text-decoration: underline rgba(211, 211, 211, 0);
    box-shadow: 0px 0px 57px -6px rgba(0, 0, 0, 0);
}

.boxstyle {
    display: flex;
    width: 100%;
    height: 140px;
    margin: 0%;
    padding: 0;
    justify-content: center;
    align-items: center;
}
}


